canvas {
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  border-top: 2px solid #000000;
}

.desc-input {
  width: 600px;
  height: 100px;
}